<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Sign in</h4>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm" (keyup.enter)="loginForm.valid && login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input formControlName="username" type="text" class="form-control" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password" type="password" class="form-control" id="password">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
  <button type="button" class="btn btn-outline-dark" (click)="login()" [disabled]="!loginForm.valid">Login</button>
</div>
