/* HEX */
$color1: #D8DBE2;
$color2: #a9bcd0ff;
$color3: #58a4b0ff;
$color4: #373f51ff;
$color5: #daa49aff;


/* GRADIENT */
$gradient-top: linear-gradient(0deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-right: linear-gradient(90deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-bottom: linear-gradient(180deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-left: linear-gradient(270deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-top-right: linear-gradient(45deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-bottom-right: linear-gradient(135deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-top-left: linear-gradient(225deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-bottom-left: linear-gradient(315deg, #383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
$gradient-radial: radial-gradient(#383d3bff, #eee5e9ff, #7c7c7cff, #92dce5ff, #52dee5ff);
