<div class="list-locations-container">
  <div class="users card mb-1" *ngFor="let user of users;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-11 col-10">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="full-name">
                <strong>Full Name:</strong>
                <p>{{ user.fullName }}</p>
              </div>
              <div class=username>
                <strong>Username:</strong>
                <p>{{ user.username }}</p>
              </div>
              <div class="role">
                <strong>Role:</strong>
                <p>{{ user.role.role }}</p>
              </div>
              <div class="status">
                <strong class="me-1">Status:</strong>
                <span *ngIf="user.isActive" class="text-success">ACTIVE</span>
                <span *ngIf="!user.isActive" class="text-danger">NOT ACTIVE</span>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="createdAt">
                <strong>Created At:</strong>
                <p>{{ user.createdAt | date: 'dd.MM.yyyy HH:mm' }}</p>
              </div>
              <div class="updatedAt">
                <strong>Updated At:</strong>
                <p>{{ user.updatedAt | date: 'dd.MM.yyyy HH:mm' }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-2 border-gray">
          <div class="btn btn-default btn-outline-dark mb-1 float-right" (click)="edit(user.name)">
            <svg class="bi bi-gear" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 014.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 01-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 011.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 012.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 012.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 011.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 01-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 018.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 001.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 00.52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 00-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 00-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 00-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 00-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 00.52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 001.255-.52l.094-.319z"
                clip-rule="evenodd" />
              <path fill-rule="evenodd"
                d="M8 5.754a2.246 2.246 0 100 4.492 2.246 2.246 0 000-4.492zM4.754 8a3.246 3.246 0 116.492 0 3.246 3.246 0 01-6.492 0z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div *ngIf="user.isActive" class="btn btn-default btn-outline-dark mb-1 float-right"
            (click)="delete(user.name)">
            <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
