<app-spinner></app-spinner>

<header class="header mb-3">
  <app-navigation></app-navigation>
</header>

<main role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<!--
<footer class="footer py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer> -->
