<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Parking</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row mb-5">
      <div class="col mb-3">
        <div class="mb-3">
          <app-search-location
            (selected)="onSelected($event)"
          >
          </app-search-location>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div
          style="height: 300px; width: 100%"
          (leafletMapReady)="onMapReady($event)"
          class="map"
          leaflet
          [leafletOptions]="options">
        </div>
      </div>
    </div>
    <form class="row" [formGroup]="bikeParkForm">
      <div class="col-lg-6 col-sm-12">
        <div class="mb-3">
          <label class="form-label" for="city">City:</label>
          <input formControlName="city" type="text" class="form-control" id="city">
        </div>
        <div class="mb-3">
          <label class="form-label" for="street">Street:</label>
          <input formControlName="street" type="text" class="form-control" id="street">
        </div>
        <div class="mb-3">
          <label class="form-label" for="latitude">Latitude:</label>
          <input formControlName="latitude" type="number" class="form-control" id="latitude">
        </div>
        <div class="mb-3">
          <label class="form-label" for="longitude">Longitude:</label>
          <input formControlName="longitude" type="number" class="form-control" id="longitude">
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="mb-3">
          <label class="form-label" for="description">Description:</label>
          <textarea formControlName="description" class="form-control" name="description" id="description" cols="30"
          rows="10"></textarea>
        </div>
        <div class="mb-3">
          <div class="form-check">
            <input formControlName="isSuggestion" type="checkbox" class="form-check-input" id="isSuggestion">
            <label class="form-check-label" for="isSuggestion">Is Suggestion</label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>
