<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update profile</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body" id="user-details">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mb-3">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Details</a>

            <ng-template ngbNavContent>
                <form class="row" [formGroup]="userForm">

                    <div class="mb-3">
                        <label
                            class="form-label"
                            for="username">Username:</label>
                        <input
                            formControlName="username"
                            type="text"
                            class="form-control"
                            id="username">
                    </div>

                    <div class="mb-3">
                        <label
                            class="form-label"
                            for="fullName">Full Name:
                        </label>
                        <input
                            formControlName="fullName"
                            type="text"
                            class="form-control"
                            id="fullName">
                    </div>

                </form>
            </ng-template>
        </li>

        <li [ngbNavItem]="2">
            

            <a ngbNavLink>Address</a>

            <ng-template ngbNavContent>

                <form class="row" [formGroup]="addressForm">
                    <div class="mb-3">
                        <app-search-location
                            (selected)="onSelected($event)"
                        >
                        </app-search-location>
                    </div>
                    <div class="mb-3">
                        <span class="pe-1">Address:</span>
                        <span>{{ address }}</span>
                    </div>
                </form>
            </ng-template>
        </li>

     </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>

<div class="modal-footer">
    <button
        type="button"
        class="btn btn-outline-dark"
        (click)="update()">Update
    </button>
</div>
