<div class="modal-header" [ngClass]="{'border-0': message.length <= 0}">
  <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
</div>
<div *ngIf="message.length > 0" class="modal-body">
  {{ message.length }}
</div>
<div class="modal-footer" [ngClass]="{'border-0': message.length <= 0}">
  <button type="button" class="btn btn-outline-dark" (click)="decline()">{{ cancelBtnText }}</button>
  <button type="button" class="btn btn-outline-dark" (click)="confirm()">{{ okBtnText }}</button>
</div>
