<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Create account</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <form class="row" [formGroup]="userForm">
    <div class="mb-3">
      <label
        class="form-label"
        for="username">Username *:
      </label>
      <input
        placeholder="Required"
        formControlName="username"
        type="text"
        class="form-control"
        id="username"
      >
    </div>
    <div class="mb-3">
      <label
        class="form-label"
        for="fullName">Full Name:
      </label>
      <input
        formControlName="fullName"
        type="text"
        class="form-control"
        id="fullName"
      >
    </div>
    <div class="mb-3">
      <label
        class="form-label"
        for="password">Password *:
      </label>
      <input
        placeholder="Required"
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
      >
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    [disabled]="!userForm.valid"
    class="btn btn-outline-dark"
    (click)="save()">Save
  </button>
</div>
