<nav class="navbar navbar-expand-sm nav-bg-color">
  <a [routerLink]="['/']" class="navbar-brand text-dark">BikePark</a>

  <button class="navbar-toggler" (click)="toggleNavbar()" type="button" aria-controls="navbar" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <svg class="bi bi-list" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
          clip-rule="evenodd" />
      </svg>
    </span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" [ngClass]="{ 'show': collapsed }" id="navbar">
    <ul *ngIf="!isLoggedIn || !user" class="navbar-nav">
      <li class="nav-item me-2">
        <a class="nav-link btn-outline-info rounded" (click)="login()" href="#">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-outline-info rounded" (click)="createAccount()" href="#">
          Sign up
        </a>
      </li>
    </ul>

    <ul *ngIf="isLoggedIn && user" class="navbar-nav">
      <li class="nav-item me-2">
        <div display="dynamic" ngbDropdown class="d-inline-block">
          <button class="btn border border-dark nav-btn-color" id="welcome" ngbDropdownToggle>
            {{ user.username }}
          </button>
          <div ngbDropdownMenu aria-labelledby="welcome">
            <button ngbDropdownItem (click)="updateProfile()">Profile</button>
            <button ngbDropdownItem (click)="goToMyLocations()">My Locations</button>
            <button ngbDropdownItem (click)="goToBikeThefts()">Bike Thefts</button>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
