/* You can add global styles to this file, and also import other style files */

@import './styles/sass/styles';

html,
body {
  height: 100%;
}

.c-pointer {
  cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.modal-backdrop.show {
  z-index: 50 !important;
}

.leaflet-pane {
  z-index: 40 !important;
}
