<div class="list-locations-container">
  <div [ngClass]="{'border-danger': location.type == 'Theft'}" class="location card mb-1" *ngFor="let location of locations;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-11 col-10">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="city">
                <strong>City:</strong>
                <p>{{ location.city }}</p>
              </div>
              <div class=street>
                <strong>Street:</strong>
                <p>{{ location.street }}</p>
              </div>
              <div class="user">
                <strong>User:</strong>
                <p class="m-0">{{ location.user.fullName }}</p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="description">
                <strong>Description:</strong>
                <br>
                {{ location.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-2 border-gray">
          <div
            class="btn btn-default btn-outline-dark float-right"
            (click)="mapView(location)"
          >
            <svg class="bi bi-map" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M15.817.613A.5.5 0 0116 1v13a.5.5 0 01-.402.49l-5 1a.502.502 0 01-.196 0L5.5 14.51l-4.902.98A.5.5 0 010 15V2a.5.5 0 01.402-.49l5-1a.5.5 0 01.196 0l4.902.98 4.902-.98a.5.5 0 01.415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
