<div id="spinner-front" [ngClass]="{ 'show': isLoading }">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div id="spinner-back" [ngClass]="{ 'show': isLoading }"></div>
