#spinner-front, #spinner-back {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  transition: all 1s;
}

#spinner-front {
  z-index: 9998;
  margin-top: 45vh;
  color: #fff;
  text-align: center;
}

#spinner-back {
  z-index: 9999;
  height: 100vh;
  background: #000;
}

#spinner-front.show {
  visibility: visible;
  opacity: 1;
}

#spinner-back.show {
  visibility: visible;
  opacity: 0.7;
}
